# for postgresql:
DATABASES = {
    "default": {
        "ENGINE": "django.db.backends.postgresql_psycopg2",
        "NAME": "emis",
        "USER": "postgres",
        "PASSWORD": "",
        "HOST": "localhost",
    }
}

